* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: white;

}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.Calculator_caontainer {
  padding: 30px;
  border-radius: 20px;

  box-shadow: inset 0px 0px 40px rgb(119, 119, 119);
}
.inputBox {
  width: 280px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.inputBox input {
  padding: 0 20px;
  width: 100%;
  height: 100%;
border: none;
  outline: none;
border-radius: 25px;
  text-align: right;
  font-size: 40px;
  font-weight: bold;
  background-color: rgb(0, 0, 0);
  box-shadow: inset 0px 0px 20px rgb(154, 154, 154);

  color: white;
}

.culculatorBtn {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
input::placeholder {
  color: white;
}
.culculatorBtn button {
  box-shadow: inset 0px 0px 20px rgb(154, 154, 154);
  color: rgb(247, 248, 250);
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
  margin: 5px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  border: none;
}



#allclear {
  color: rgb(55, 255, 0);
}
#equal_ope {
  background-color: rgb(28, 28, 28);
  color: rgb(240, 241, 240);
  font-size: 30px;
}
#delbtn {
  color: rgb(55, 255, 0);
}
#modlusbtn {
  color: rgb(55, 255, 0);
}
#divide {
  color: rgb(55, 255, 0);
  font-size: 30px;
}
#multi {
  font-size: 30px;
  color: rgb(55, 255, 0);
}
#minus {
  font-size: 30px;
  color: rgb(55, 255, 0);
}
#plus {
  font-size: 30px;
  color: rgb(55, 255, 0);
}
